<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AnaSayfa </title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
</head>
<body>
<div class="container">
	<h3>Seda Başaran - Avansas Kullanıcı Yönetim Projesi Anasayfa </h3>
	<ul class="nav flex-column">
	  <li class="nav-item">
      	<a class="nav-link" a th:href="@{/list_users}">Kullanıcı Listeleme</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" a th:href="@{/kayıt}">Kullanıcı Kayıt</a>
      </li>
      <li class="nav-item">
      	<a class="nav-link" a th:href="@{/login}">Giriş</a>
      </li>
	</ul>      
<div>


</body>    
</html>    